
body {
    margin: 0px;
    padding: 0px;
}

div.page {
    display: grid;
    height: 100vh;
    grid-template-columns: 200px 2fr;
    grid-template-rows: 70px 1fr 40px;
    grid-template-areas: 'meny header' 'meny innhold' 'footer footer';
}
div.pagenyheter {
    display: grid;
    height: 100vh;
    grid-template-columns: 200px 2fr;
    grid-template-rows: 70px 70px;
    grid-template-areas: 'meny innhold' 'meny innhold' 'meny innhold';
}
div.pagesøknå {
    display: grid;
    height: 100vh;
    grid-template-columns: 200px 2fr;
    grid-template-rows: 70px 70px;
    grid-template-areas: 'meny innhold' 'meny innhold' 'meny innhold'
}
div.pagetilbakemeldinger {
    display: grid;
    height: 100vh;
    grid-template-columns: 200px 2fr;
    grid-template-rows: 70px 70px;
    grid-template-areas: 'meny innhold' 'meny innhold' 'meny innhold';
}
div.pagekontaktoss {
    display: grid;
    height: 100vh;
    grid-template-columns: 200px 2fr;
    grid-template-rows: 70px 70px;
    grid-template-areas: 'meny innhold' 'meny innhold' 'meny innhold';
}




div.header {
    grid-area: header;
}

div.meny {
    grid-area: meny;
}

div.innhold {
    grid-area: innhold;
}

div.footer {
    grid-area: footer;
}

@media only screen and (max-width: 600px) {
    div.page {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 1fr 5fr 1fr;
        grid-template-areas: 'header' 'meny' 'innhold' 'footer';
    }
}

h1 {
    color: orange;
    text-align: center;
}

ul {
    margin-top: 20px;
    font-size: 20px;
    list-style: none;
}

a {
    text-decoration: none;
    color: black
}

img {
    width: 90%;
    margin: 10px;
}

#img2 {
    margin: 30px;
    margin-top: 0px;
    margin-left: 40px;
}

#A1 {
    grid-area: innhold;
    margin: 80px;
    
}
p {
    float: left;
    margin: 80px;
    margin-left: 80px;
}
h2{
    grid-area: innhold;
    text-align: center;
    margin-top: 40px;
}
#header1 {
    margin:80px;
    text-align: left;
    font-size: 20px;
    
}
a:hover {
    text-decoration: underline;
    background-color: orange;
}
a.AomOss1:hover, a.AomOss1:active {
    text-decoration: underline;
}

#header2 {
    font-size: 20px;
    text-align: center;
    margin: 80px;
    margin-right: 100px;
    margin-top: -80px;
    float: right;
}
#p1{
    margin: 80px;
    float:left;
    margin-top: -50px;
    
}
#p2{
    margin: 80px;
    float: right;
    margin-top: -50px;
}
#info{
    grid-area: footer;
    text-align: center;
}
#contentframe{
    grid-area: innhold;
}



