body {
    background-color: lightblue;
}

@media only screen and (min-aspect-ratio: 1/1) {
    svg {
        height: 95vh;
    }
}

@media only screen and (max-aspect-ratio: 1/1) {
    svg {
        width: 95vw;
    }
}

viewbox {
    align: center;
}

rect.board {
    stroke: black;
    stroke-width: 2px;
    fill: white;
}

rect.part {
    stroke: black;
    stroke-width: 1px;
    fill: transparent;
}

rect.whiteSquare {
    fill: white;
    stroke: black;
    stroke-width: 0.2px;
}

rect.red {
    fill: red;
    stroke: black;
}

rect.blue {
    fill: blue;
    stroke: black;
}

rect.green {
    fill: green;
    stroke: black;
}

rect.yellow {
    fill: yellow;
    stroke: black;
}

circle.circle {
    stroke: black;
}

circle.blue {
    fill: blue;
}

circle.white {
    fill: white;
}

circle.red {
    fill: red
}

circle.green {
    fill: green;
}

circle.yellow {
    fill: yellow;
}

polygon.red {
    stroke: black;
    stroke-width: 0.2px;
    fill: red;
}

polygon.blue {
    stroke: black;
    stroke-width: 0.2px;
    fill: blue;
}

polygon.green {
    stroke: black;
    stroke-width: 0.2px;
    fill: green;
}

polygon.yellow {
    stroke: black;
    stroke-width: 0.2px;
    fill: yellow;
}

rect {
    stroke: black;
    stroke-width: 0.2px;
    fill: white;
}
rect.dice {
    stroke-width: 3px;
}
